NodeMobileClient/.DS_Store
NodeMobileClient/build.log
NodeMobileClient/build
NodeMobileClient/npm-debug.log
NodeMobileClient/tmp
NodeMobileClient/.map
NodeMobileClient/Resources
ApiServer/node_modules
ApiServer/serverLogs.log