<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>NodeJsClient</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../assets/css/bootstrap.css" rel="stylesheet">
<link href="../stylesheets/style.css" rel="stylesheet">
<link href="../assets/css/docs.css" rel="stylesheet">
<script src="../assets/js/google-code-prettify/prettify.js"></script>
<script type="text/javascript" src="../assets/js/jquery.js"></script>
<script type="text/javascript" src="../assets/js/bootstrap-button.js"></script>
<script type="text/javascript" src="../assets/js/bootstrap-modal.js"></script>
<script type="text/javascript"
	src="../assets/js/bootstrap-transition.js"></script>
</head>
<body>



	<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1"
		role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Register User</h4>
				</div>
				<div class="modal-body">

					<form id="signup-form" action="/signup" method="post">




						<fieldset>
							<div class="form-group">


								<input type="text" name="empId" placeholder="Username"
									class="form-control" /> <span id="imagePlaceHolder"></span>
							</div>
							<div class="form-group">

								<input type="password" name="password" placeholder="Password"
									class="form-control" />

							</div>
							<div class="form-group">
								<input type="text" name="first_name" placeholder="First Name"
									class="form-control" />
							</div>
							<div class="form-group">
								<input type="text" name="last_name" placeholder="Last Name"
									class="form-control" />

							</div>
							<div class="form-group">
								<input type="text" name="phone_number"
									placeholder="Phone Number" class="form-control" />
							</div>
							<div class="form-group">
								<input type="text" name="designation" placeholder="Designation"
									class="form-control" />
							</div>
							<div class="form-group">
								<input type="text" name="emailId" placeholder="Email"
									class="form-control" />
							</div>
						</fieldset>



					</form>


				</div>
				<div class="modal-footer">

					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button class="btn btn-primary" type="submit">Create
						Account</button>


				</div>
			</div>
		</div>
	</div>






	<div class="container">
		<h1 class="text-center">NodeJsClient</h1>

		<div class="text-center">
			<div id="error" class="<%=showMsg%>">
				<label class="label label-danger"> <%=errorMsg%> </label>
			</div>
		</div>
		<form id="login-form" action="/login" method="post"
			class="form-signin">

			<div class="form-inner">

				<h3 class="form-signin-heading">Please sign in</h3>
				<div class="form-group">
					<input type="text" name="emailId" placeholder="Email Id"
						id="loginEmailId" value="<%=emailId%>" required="required"
						class="form-control" /> <input type="password" name="password"
						placeholder="Password" id="loginPassword" value="<%=password%>"
						required="required" class="form-control" />

				</div>
				<div class="form-group">
					<div class="text-right">

						<a data-toggle="modal" href="#myModal" class="btn">Sign Up</a>
						<button class="btn btn-primary" type="submit">Log In</button>

					</div>
				</div>
			</div>
		</form>
	</div>

	<script type="text/javascript">
		$(document).ready(
				function() {
					$('[id*=loginEmailId]').change(
							function() {
								$('span#error').removeClass('showErrorMessage')
										.addClass('hideErrorMessage');
							});
					$('[id*=loginPassword]').change(
							function() {
								$('span#error').removeClass('showErrorMessage')
										.addClass('hideErrorMessage');
							});

				});
	</script>
</body>
</html>