<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>NodeJsClient</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../assets/css/bootstrap.css" rel="stylesheet">
<link href="../stylesheets/style.css" rel="stylesheet">
<link href="../assets/css/docs.css" rel="stylesheet">
<script
	src="../assets/js/google-code-prettify/prettify.js"></script>
<script type="text/javascript"
	src="../assets/js/jquery.js"></script>
<script type="text/javascript"
	src="../assets/js/bootstrap-button.js"></script>
<script type="text/javascript"
	src="../assets/js/bootstrap-modal.js"></script>
<script type="text/javascript"
	src="../assets/js/bootstrap-transition.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/profile">Home</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="/settings" class="pull-right">
							Settings</a></li>

				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="marketing alignCenter">
			<h1>NodeJsClient - Projects</h1>
			<div class="control-group alignCenter">
				<%if(projectData && projectData.length > 0){ 
					var	projects = projectData; 
					projects.forEach(function(el, index) { %> 
					<div class="list-group-item" style="width:30%;margin-left:35%"><bold>Project Name :</bold><%=el.projectName%><br/> <bold>Project Location : </bold><%=el.projectLocation%> <br/> <bold>Project Duration : </bold><%=el.projectDuration%><br/> <form action="/editProject" method="post"> <input type="hidden" value="<%=el._id%>" name="projId"/> <button type="submit"> Edit </button></form></div></br>
					<% });}	else {%> <div class="list-group-item" style="width:30%;margin-left:35%"> No Data Found </div> <% } %>
			</div>
			<div>
				<a href="/profile" class="btn btn-success">Back to Profile</a>
				<a href="/addNewProject" class="btn btn-primary">Add New Project</a>
			</div>
		</div>
	</div>
</body>
</html>