<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>NodeJsClient - Settings</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../assets/css/bootstrap.css" rel="stylesheet">
<link href="../stylesheets/style.css" rel="stylesheet">
<link href="../assets/css/docs.css" rel="stylesheet">
<script
	src="../assets/js/google-code-prettify/prettify.js"></script>
<script type="text/javascript"
	src="../assets/js/jquery.js"></script>
<script type="text/javascript"
	src="../assets/js/bootstrap-button.js"></script>
<script type="text/javascript"
	src="../assets/js/bootstrap-modal.js"></script>
<script type="text/javascript"
	src="../assets/js/bootstrap-transition.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/profile">Home</a> <a href="/settings"
					class="navbar-brand"> Settings</a>

			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="/logout"
						class="navbar-brand pull-right"> Logout</a></li>

				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="marketing">
			<h3>Settings</h3>
			<div class="control-group alignCenter">
				<a href="/listAddress"> Add/Edit Address</a><br/>
				<a href="/listProject"> Add/Edit Project</a><br/>
				<a href="/showUserProjects"> Add/Remove User to/from Project</a>
			</div>
		</div>
	</div>
</body>
</html>