<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>NodeJsClient - Settings</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../assets/css/bootstrap.css" rel="stylesheet">
<link href="../stylesheets/style.css" rel="stylesheet">
<link href="http://spbooks.github.com/nodejs1/docs.css" rel="stylesheet">
<script
	src="../assets/js/google-code-prettify/prettify.js"></script>
<script type="text/javascript"
	src="../assets/js/jquery.js"></script>
<script type="text/javascript"
	src="../assets/js/bootstrap-button.js"></script>
<script type="text/javascript"
	src="../assets/js/bootstrap-modal.js"></script>
<script type="text/javascript"
	src="../assets/js/bootstrap-transition.js"></script>
</head>
<body>
	<div class="container">
		<div class="marketing">
			<h1>Settings</h1>
			<div class="control-group alignCenter">
				<a href="/editAddress/<%=empId%>"> Add/Edit Address</a><br/>
				<a href="/editProject/<%=empId%>"> Add/Edit Project</a>
			</div>
		</div>
		<header class="jumbotron masthead">
		</header>
		<div class="control-group alignCenter">
			</div>
	</div>
</body>
</html>