.showErrorMessage {
	color: red;
	display: block;
}

.hideErrorMessage {
	display: none;
}

.form-signin {
	width: 400px;
	margin: 20px auto;
}

.form-inner {
	padding: 20px 20px 10px;
	border: 1px solid #ccc;
	display: block;
	border-radius: 5px;
}

.hideDiv{
	display : none;
}

.showDiv{
	display : block;
}

.removeBtn{
  background: url('../assets/img/close-icon.png') no-repeat scroll 0 0 transparent;
  display:none;
  color: #000000;
  cursor: pointer;
  height: 20px;
  width: 20px;
  float:right;
}