body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.myModal{
	width : 400px !important;
}

.alignCenter{
	text-align: center !important;
}

.leftContainerProfile{
	padding-left: 30%;
    padding-right: 40%;
    width: 100%;
}

.rightContainerProfile{
	width : 100%;
	font-size: 18px;
}

.loginPageForm {
	margin-left : 18%;
	width : 41%;
}

.login-footer{
	padding: 10px 14px 15px !important;
	background-color: #FFFFFF !important;
}

.showErrorMessage {
	color : red;
	display : block;
}

.hideErrorMessage {
	display : none;
}