.showErrorMessage {
	color: red;
	display: block;
}

.hideErrorMessage {
	display: none;
}

.form-signin {
	width: 400px;
	margin: 20px auto;
}

.form-inner {
	padding: 20px 20px 10px;
	border: 1px solid #ccc;
	display: block;
	border-radius: 5px;
}